@page
@model Resource.Pages.Panel.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "/pages/shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].SearchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Http)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].OrganizationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Sortgroup1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CreditLimit)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PriceList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].OpenForInvoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CalculateVat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].ObjDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].GenerateRemainder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CalculateInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].InvoiceFee)
            </th>

            <th>Manage</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].SearchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Http)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].OrganizationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Sortgroup1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CreditLimit)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PriceList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].OpenForInvoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CalculateVat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].ObjDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].GenerateRemainder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CalculateInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].InvoiceFee)
            </th>

            <th>Manage</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SearchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Http)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreditLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FixedDiscount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PriceList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenForInvoice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculateVat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenerateRemainder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculateInterest)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Information)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceFee)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ObjNo">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ObjNo">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ObjNo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>