@page
@model Resource.Pages.Panel.CRUDs.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Panel/_themeLayout.cshtml";
}

<h2>Details</h2>

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example
        </div>
        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                @for (int i = 0; i < Model.Row[0].Item3.Count(); i++)
                {
                    <dt>
                        @Html.DisplayFor(model => Model.Row[0].Item3[i])
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => Model.Row[0].Item2[i])
                    </dd>
                }
            </dl>
        </div>
        <div>
            <ul>
                <li><a asp-page="/Panel/CRUDs/Update" asp-route-id="@Model.Row[0].Item2[Model.IndexOfID]" asp-route-table="@Model.Table">Edit</a></li>
                <li> <a asp-page="/Panel/Tables/@Model.TablePath">Back to List</a></li>
                <li><a asp-page="/Panel/index">Back to Panel</a></li>
            </ul>
        </div>
        <div class="card-footer small text-muted">Updated @DateTime.Now</div>
    </div>
</div>