@page
@model Resource.Pages.Panel.CustomerOverviewModel
@{
    ViewData["Title"] = "CustomerOverview";
    Layout = "~/Pages/Panel/_themeLayout.cshtml";
}

<h2>CustomerOverview</h2>

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Charts</li>
    </ol>
    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example
        </div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Bar Chart Example
                </div>
                <div class="card-body">
                    <canvas id="yearBar" width="100%" height="50"></canvas>
                    @{ ChartJSCore.Models.Chart bar = (ChartJSCore.Models.Chart)ViewData["bar"];}
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-pie"></i>
                    Pie Chart Example
                </div>
                <div class="card-body">
                    <canvas id="CustomerPie" width="100%" height="100"></canvas>
                    @{ ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"]; }
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>
    <div>
        
    </div>
    <p class="small text-center text-muted my-5">
        <em>More chart examples coming soon...</em>
    </p>
</div>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Customer having machines relations
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="CustomerTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @foreach (string name in Model.Row[0].Item3)
                        {
                            <th>
                                @Html.DisplayFor(model => name)
                            </th>
                        }
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @foreach (string name in Model.Row[0].Item3)
                        {
                            <th>
                                @Html.DisplayFor(model => name)
                            </th>
                        }
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Row)
                    {
                        <tr>
                            @foreach (var subitem in item.Item2)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => subitem)
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
@section scripts{
    <script>
        @Html.Raw(chart.CreateChartCode("CustomerPie"))
        @Html.Raw(bar.CreateChartCode("yearBar"))
    </script>
}