@page
@model Resource.Pages.Panel.CustomersModel
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Pages/Panel/_themeLayout.cshtml";
}

<h2>Customers</h2>

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <p>
                <a asp-page="/Panel/Customers/Create">Create New customer</a>
            </p>
        </div>
        <div class="card-body col-8">
            <div class="table-responsive">
                <table class="table table-bordered" id="CustomerTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer[0].ObjNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer[0].CustomerNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer[0].SearchName)
                            </th>
                            <th>
                                Manage
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer[0].ObjNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer[0].CustomerNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer[0].SearchName)
                            </th>
                            <th>
                                Manage
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Customer)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ObjNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SearchName)
                                </td>
                                <td>
                                    <a asp-page="/Panel/Customers/Edit" asp-route-id="@item.ObjNo">Edit</a> |
                                    <a asp-page="/Panel/Customers/Details" asp-route-id="@item.ObjNo">Details</a> |
                                    <a asp-page="/Panel/Customers/Delete" asp-route-id="@item.ObjNo">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>

